*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background-color: purple;
    color: azure;
}

nav{
    display: flex;
    justify-content: space-around;
    line-height: 70px;
    font-weight: 700;
    font-size: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}


section{
    background-image: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGFpc2FqZSUyMGRlJTIwZmxvcmVzfGVufDB8fDB8fHww);
    height: 700px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}